.sidenav {
    display: flex;
    flex-direction: column;
    font-family: 'Fira Code', monospace;
    font-size: 19px;
    gap: 13px;
}

.sidenav-item {
    color: var(--bg-lighter);
    cursor: pointer; 
    transition: .1s ease-in-out;
}

.sidenav-item:hover {
    background-color: var(--bg-light);
    color: var(--bg-darker);
}