.cover {
  background-color: #361643;
  width: 100%;
  height: 25vh;
}

.profile-container {
  max-width: 800px;
  transform: translateY(-55px);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 4px 4px 0px 0px;
  gap: 15px;
  background-color: white;
  text-align: center;
  padding: 18px;
}

.profile-pic-container {
  width: 110px;
  height: 110px;
  border: 7px solid #361643;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  justify-content: center;
  transform: translateY(-55px);
}

.profile-pic {
  width: 90%;
}

.profile-infos {
  display: flex;
  gap: 15px;
}
.settings-btn {
  background-color: #f8f8f8;
  max-width: 798px;
  height: 50px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  margin-top: -16px;
  border-radius: 0px 0px 4px 4px;
}

.settings-btn:hover {
  background-color: rgb(243, 243, 243);
}
.skills-container {
  flex: 1.5;
}
.skills {
  border-radius: 4px;
  padding: 18px;
  border: 1px solid lightgrey;

  background-color: white;
}
.post-hist {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skills-title {
  font-weight: 600;
}

.the-skills p {
  font-size: 15px;
}

@media screen and (max-width: 680px) {
  .profile-infos {
    flex-direction: column;
  }
  .profile-container {
    padding: 15px;
  }
}
