.post-card {
  background-color: var(--bg-dark);
  border: 2px solid var(--bg-light);
  min-width: 300px;
  height: 300px;

  margin: -1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.card-header {
  min-width: 71px;
}

.post-card:hover {
  transform: scale(1.05);
  background-color: rgb(131, 103, 233);
  font-weight: 900;
}
.post-card:hover .card-desc,
.post-card:hover .card-title {
  color: white;
}

.post-card:hover .card-date {
  color: rgb(238, 238, 238);
}

.card-title {
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(219, 0, 0);
  justify-self: flex-start;
  align-self: flex-start;
}

.card-date {
  margin-left: 10px;
  color: var(--bg-light);
  font-weight: 500;
  justify-self: flex-start;
  align-self: flex-start;
}

.card-desc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.card-desc {
  font-weight: clamp(700, 800, 900);
  font-size: clamp(1.4rem, 5vw, 2.2rem);
  color: var(--bg-lighter);
  text-align: center;
}

@media screen and (max-width: 720px) {
  .post-card {
    flex-direction: row;
    align-items: center;
    height: 100px;
  }
}
