.settings {
  max-width: 850px;
  margin: 0px auto;
  padding: 0px 15px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}
.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 23px;
}
.setting-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-settings,
.skills-settings {
  padding: 30px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.skills-settings {
  border-radius: 8px 8px 0px 0px;
}

label {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: -28px;
}

input {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 18px;
}

.settings-btn {
  max-width: 850px;
  font-size: 20px;
  padding: 25px 0px;
  color: rgb(247, 247, 247);
  border: 1px solid rgb(144, 44, 238);
  background-color: rgb(144, 44, 238);
  position: sticky;
  bottom: 0px;
}

.settings-btn:hover {
  border: 1px solid rgb(123, 38, 202);
  background-color: rgb(123, 38, 202);
  color: white;
}
