.post{
    margin-top: 70px;
}

.post > .container {
    max-width:700px;
}

.post-details{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.post-tag{
    font-size: 18px;
    color: rgb(165, 60, 60);
    font-weight: 600;
}

.post-title{
    font-size: 60px;
    font-weight: 900;
    line-height: 51px;
    word-spacing: -13px;
    margin-bottom: 50px;
}

.post-content{
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: medium;
    line-height: 34px;
    word-spacing: 3px;
}

.post-content > h2 {
    margin-bottom: 20px;
}

.post-content > p::first-letter {
    text-transform: uppercase;
    font-size: 43px;
    color: rgb(200, 121, 84);
    font-weight: 500;
    letter-spacing: 6px;
}