.post{
    margin-top: 70px;
}

.post > .container {
    max-width:700px;
}

.post-details{
    display: flex;
   
}

.post-tag{
    font-size: 15px;
    color: rgb(55, 55, 55);
    margin-bottom: 90px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.post-title{
    font-size: 50px;
    font-weight: 900;
    line-height: 51px;
    word-spacing: 5px;
    margin-bottom: 7px;
}

.post-content{
    font-family: 'Poppins', sans-serif !important;
    font-size: 19px;
    background-color: white;
    padding: 30px;
    border-radius: 4px;
   
}

.post-content > pre {
    max-width: 700px;
    overflow-x: scroll;
    border: 1px solid lightgrey;
    border-radius: 15px;
    color: lightgray;
    background-color: #161B22;
    padding: 20px 0px 20px 20px;
    margin: 30px 0px;
}

.post-content > pre::-webkit-scrollbar {
    width: 50px;
}

.post-content > pre::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }


  .post-content > pre::-webkit-scrollbar-thumb {
    background: #888; 
  }

  .post-content > pre::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.post-content > h2 {
    margin-bottom: 20px;
}

.post-content > h2 {
    margin-bottom: 20px;
}

.post-content a {
    color: blueviolet;
    font-style: italic;
}
.post-content a:hover {
    text-decoration: underline;
}
.post-content a:focus {
    color: red;
}

.post-header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.post-owner-infos{
    display: flex;
    gap: 10px;
}

.post-owner-name{
    font-weight: 600;
}


.post-owner-pic {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(90, 70, 95);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-owner-pic > img {
    width: 100%;
}
.owner-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.owner-actions > span {
    padding: 5px 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
}

.delete-btn:hover{
    background-color: rgb(246, 98, 98);
    color: white;
    text-decoration: underline;
}

.edit-btn:hover{
    background-color: rgb(223, 226, 232);
    color: rgb(86, 86, 201);
    text-decoration: underline;
}