.header-out{
  padding: 90px 0px;
  display: flex;
  justify-content: space-around;
  margin: 0px 20px;
}

.header-left{
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 50%;
}

.header-left h1{
  font-size: clamp(1rem, 5vw, 3rem);
  font-weight: 800;
  margin: 0px;
}

.header-left p{
  color: rgb(78, 78, 78);
  margin: 0px;
  font-size: clamp(0.5rem, 4vw, 1.3rem);


}

.main-btn {
  width: fit-content;
  background-color: #EF6846;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: .1s;
  padding: 12px 19px;
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  align-items: center;

}

.main-btn > div{
  display: inline-block;
  background-color: white;
  width: 18px;
  height: 1.5px;
  margin: 0px 4px;
}

.main-btn:hover{
  background-color: #8e0e0d;

}

.main-btn:focus{
  outline: 5px solid #3C3C3C;
  outline-offset: 3px;
}

.header-right{
  width: 50%;
}

.home-header-img{
  width: 100%;
}


@media screen and (max-width: 820px) {
  .header-right{
    display: none;
  }
  .header-left{
    width: 100%;
  }
}

.header-in{
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  margin: 30px 0px;
  border-radius: 3px;
  color: white;
  border: 1px solid rgb(179, 179, 179);
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='0' stroke-opacity='0.67' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.welcoming{
  font-size: 20px;
}
.welcoming span{
  font-weight: 600;
  color: #EF6846;
}
.in{
  margin: 0px !important;
}

.quote{
  font-size: 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sec-btn {
  width: fit-content;
  background-color: #ef684600;
  color: white;
  font-size: 17px;
  border: none;
  outline: 2px solid #EF6846;
  outline-offset: -2px;
  cursor: pointer;
  transition: .1s;
  padding: 12px 19px;
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.sec-btn:hover {
  background-color: #EF6846;
}

.moving-arrow{
  transition: .2s ease-in-out;
  margin-left: 0px;
  margin-right: 6px;
}
.sec-btn:hover .moving-arrow{
  margin-left: 6px;
  margin-right: 0px;

}

