* {
    font-family: 'Fira code', monospace;
}

.navbar{
  
    color: var(--bg-light);
    font-size: 20px;
    font-weight: 600;
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: var(--bg-dark);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(134, 133, 135, 0.2);
-moz-box-shadow: 0px 2px 5px 0px rgba(134, 133, 135, 0.2);
box-shadow: 0px 2px 5px 0px rgba(134, 133, 135, 0.2);
    
}

.navbar > .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left,
.center,
.right {
    display: flex;
    gap: 30px;
}

.nav-item,
.nav-icon {
    cursor: pointer;
}

.nav-item{
    transition: .1s ease-in-out;
}

.nav-item:hover{
    background-color: var(--bg-lighter);
    color: var(--bg-darker);
}