.search-page{
  padding: 0px 15px;

}

.search-container, .search-header{
    max-width: 750px;
    margin: 0px auto;
}

.search-container{
    display: flex;
    flex-direction:column;
    gap: 5px;
}

.search-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts-filters {
    margin: 6px 0px;
    padding-left: 10px;
    display: flex;
    gap: 10px;
  }
  .post-filter {
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
  }
  .post-filter:hover {
    text-decoration: underline;
    color: rgb(0, 106, 211);
    background-color: rgb(255, 255, 255);
  }
  .chosen {
    font-weight: 600;
  }
  .search-bar{
    display: none;
    width: 100%;
    margin: 15px 0px 0px 0px;
  }
  @media screen and (max-width:730px) {
    .search-string{
        display: none;
    }
    .search-bar{
      display: block;
    }
}