.write-container {
  max-width: 700px;
  margin: 0px auto 40px auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0px 50px;
  border-radius: 8px;
  border: 1px solid rgb(203, 203, 203);
  justify-content: flex-start;
}

.title {
  border: none;
  outline: none;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 24px;
  width: 100%;
}

.tags {
  border: none;
  outline: none;
  font-family: "Fira code", sans-serif;
  font-weight: 400;
  font-size: clamp(0.9rem, 5vw, 1.2rem);

  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 24px;
  width: 100%;
}

.post-btns {
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  margin-top: 20px;
  border-top: 1px solid rgb(203, 203, 203);
  height: 100px;
  align-items: center;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
  transition: 0.1s;
}
.publish-btn {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: blueviolet;
}

.draft-btn {
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(241, 241, 241);
}

.publish-btn:hover {
  background-color: rgb(91, 29, 149);
}

.draft-btn:hover {
  background-color: rgb(223, 220, 220);
}

.write-container-header {
  padding: 0px 10px;
  margin: 38px auto 14px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}
.left {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-items: center;
}
.right {
  display: flex;
  gap: 14px;
  align-items: center;
}
.header-ops {
  font-family: "Poppins", sans-serif;
  padding: 6px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 4px;
}

.header-ops:hover {
  text-decoration: underline;
  color: rgb(0, 106, 211);
  background-color: rgb(215, 216, 244);
}

@media screen and (max-width: 730px) {
  .post-btns {
    justify-content: space-between;
    position: sticky;
    bottom: 0px;
    margin-bottom: 4px;
    height: 65px;
    z-index: 999;
    background-color: white;
    padding: 0px 8px;
  }

  .write-container {
    padding: 0px;
  }
  .write {
    padding: 0px 8px;
  }

  .title,
  .tags,
  .editor-input {
    margin: 30px 30px 0px 0px;
    border: 1px solid red;
  }
}
