.write-container {
  max-width: 700px;
  margin: 0px auto 40px auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0px 50px;
  border-radius: 8px;
  border: 1px solid rgb(203, 203, 203);
  justify-content: flex-start;
}

.title {
  border: none;
  outline: none;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 24px;
  width: 100%;
}

.tags {
  border: none;
  outline: none;
  font-family: "Fira code", sans-serif;
  font-weight: 400;
  font-size: clamp(0.9rem, 5vw, 1.2rem);

  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 24px;
  width: 100%;
}

.post-btns {
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  margin-top: 20px;
  border-top: 1px solid rgb(203, 203, 203);
  height: 100px;
  align-items: center;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
  transition: 0.1s;
}
.publish-btn {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: blueviolet;
}

.draft-btn {
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(241, 241, 241);
}

.publish-btn:hover {
  background-color: rgb(91, 29, 149);
}

.draft-btn:hover {
  background-color: rgb(223, 220, 220);
}

.write-container-header {
  padding: 0px 10px;
  margin: 38px auto 14px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}
.left {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-items: center;
}
.right {
  display: flex;
  gap: 14px;
  align-items: center;
}
.header-ops {
  font-family: "Poppins", sans-serif;
  padding: 6px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 4px;
}

.header-ops:hover {
  text-decoration: underline;
  color: rgb(0, 106, 211);
  background-color: rgb(215, 216, 244);
}
.responsive-search-icon {
  display: none;
}

@media screen and (max-width: 730px) {
  .post-btns {
    justify-content: space-between;
    position: sticky;
    bottom: 0px;
    margin-bottom: 4px;
    height: 65px;
    background-color: white;
    padding: 0px 8px;
  }

  .write-container {
    padding: 0px;
    overflow: hidden;
  }
  .write {
    padding: 0px 8px;
  }

  .title,
  .tags,
  .editor-input {
    margin: 30px 30px 0px 0px;
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 40px);
  }

  .responsive-search-icon {
    display: flex;
  }
}
#notify{
  width: 300px;
  background-color: rgb(208, 255, 230);
  border: 3px solid green;
  border-radius: 8px;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  left: 20px;
  animation-name: notification;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  display: none;
  flex-direction: column;
  font-weight: 600;
}

@keyframes notification {
  0% {transform: translateX(-320px);}
  70% {transform: translateX(20px);}
  85% {transform: translateX(-15px);}
  100% {transform: translateX(0px);}
}

#msg-container{
display: flex;
align-items: center;
justify-content: center;
align-self: center;
padding: 15px 0px;
}
.progress{
  height: 4px;
  width: 97%;
  margin-bottom: 3px;
  background-color: green;
  border-radius: 2px;
  margin-left: 1.5%;
  animation-name: progress-bar;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes progress-bar {
  0% {width: 0%;}
  100% {width: 97%;}
}