.write-container {
  max-width: 700px;
  margin: 0px auto 40px auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0px 50px;
  border-radius: 8px;
  border: 1px solid rgb(203, 203, 203);
  justify-content: flex-start;
}

.title {
  border: none;
  outline: none;
  font-size: clamp(1.5rem, 5vw, 2.2rem);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 24px;
  width: 100%;
}

/* styling from the tags start */
.input-container {
  font-family: "Fira Code", monospace;
  height: fit-content;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  font-size: 19px;
  padding: 0px 5px;
  margin-bottom: 20px;
}

.tags-container {
  gap: 6px;
  display: flex;
  height: 80%;
}

#tag-container {
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: clamp(0.7em, 2.5vw, 0.9em);
}

#tag-container:hover {
  background-color: #e6e6e6;
}

#tag-span {
  font-weight: 500;
  display: flex;
  gap: 2px;
}

#tag-span > span {
  font-weight: 500;
  color: rgb(182, 160, 202);
  margin-left: 5px;
}

#tagSpanClose {
  display: flex;
  padding-right: 7px;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: normal;
}

#tagSpanClose:hover {
  color: red;
}

.tagsInput {
  border: none;
  height: 100%;
  width: 100%;
  font-size: 17px;
  font-size: clamp(0.7em, 2.5vw, 0.9em);
  display: inline-block;
}

.input-wrapper {
  height: calc(100% - 4px);
  align-self: center;
  flex-grow: 1;
}

.tagsInput:focus {
  outline: none;
}

/* styling from the tags end */

.post-btns {
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  margin-top: 20px;
  border-top: 1px solid rgb(203, 203, 203);
  height: 100px;
  align-items: center;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
  transition: 0.1s;
}
.publish-btn {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: blueviolet;
}

.draft-btn {
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(241, 241, 241);
}

.publish-btn:hover {
  background-color: rgb(91, 29, 149);
}

.draft-btn:hover {
  background-color: rgb(223, 220, 220);
}

.write-container-header {
  padding: 0px 10px;
  margin: 38px auto 14px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}
.left {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-items: center;
}
.right {
  display: flex;
  gap: 14px;
  align-items: center;
}
.header-ops {
  font-family: "Poppins", sans-serif;
  padding: 6px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 4px;
}

.header-ops:hover {
  text-decoration: underline;
  color: rgb(0, 106, 211);
  background-color: rgb(215, 216, 244);
}
.responsive-search-icon {
  display: none;
}

@media screen and (max-width: 730px) {
  .post-btns {
    justify-content: space-between;
    position: sticky;
    bottom: 0px;
    margin-bottom: 4px;
    height: 65px;
    background-color: white;
    padding: 0px 8px;
  }

  .write-container {
    padding: 0px;
    overflow: hidden;
  }
  .write {
    padding: 0px 8px;
  }

  .title,
  .tags,
  .editor-input {
    margin: 30px 30px 0px 0px;
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 40px);
  }

  .responsive-search-icon {
    display: flex;
  }
}
