.search-card {
    background-color: white;
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.search-card:hover{
    background-color: rgb(248, 246, 249);
}
.search-card-header{
    display: flex;
    gap: 8px;
}

.author{
    width: 35px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-pic{
    width: 100%;
}

.author-infos {
    height: 35px;
    display: flex;
    flex-direction: column;
}

.author-name{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    justify-self: flex-start;
    border-radius: 5px;
    color: rgb(54, 54, 54);
}

.author-name:hover {
    background-color: rgb(233, 233, 233);
    color: black;
}

.post-date {
    justify-self: flex-end;
    font-size: 12px;    
    color: rgb(58, 58, 58);
}

.search-card-content {
    margin-left: 42px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.search-card-title {
    font-size: clamp(1.1rem, 4vw, 1.7rem);
    cursor: pointer;
}

.search-card-title:hover {
    color: rgb(79, 14, 220);
}


.search-card-tags {
    display: flex;
    gap: 8px;
    font-size: 13px;
}
.sub-infos {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.search-tag{
    cursor: pointer;

}
.search-tag:hover{
    color: rgb(79, 14, 220);

}

@media screen and (max-width:450px) {
    .search-card-content{
        margin-left: 0px;
    }
}